<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h1>Nos Bêtes</h1>
    </div>
    <div class="col-10">

        <p>Nos vaches charolaises profitent des pâturages nivernais d'avril à novembre, le reste de l'année elles sont à l'abri en stabulation sur aire paillée.

        C'est à cette période que les mères mettent bas. De cette facon nous gardons la traçabilité du cheptel.

        Nous choississons les meilleurs produits de 3 à 6 ans max pour vous proposer une qualité de viandes superieure et sans conservateure.</p>
    </div>
    {% for i in 1..7 %}
        <div class="col-4">
            <img src="{{ asset('build/images/bete')}}{{ i }}{{('.jpg') }}" class="img-fluid">
        </div>
    {% endfor %}
</div>