<div class="wrapper row4">
    <footer>
        <div id="copyright" class="hoc clear">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center">
                    <p>Copyright &copy; 2018 - All Rights Reserved - <a href="#">La Ferme de Dam </a>
                    Website by Tom GUIBARD & OS Templates</p>
                </div>
                <div class="col-12 col-md-7 text-center mt-3">
                    <p>Website by <a href="#">Tom GUIBARD</a> & <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>