{% extends 'base.html.twig' %}

{% block title %}La Ferme de Dam{% endblock %}

{% block intro %}
    {% include 'Visitor/intro.html.twig' %}
{% endblock %}

{% block body %}
    <button type="button" id="scrollTop" class="buttonScrollTop btn"><i class="fas fa-arrow-up"></i></button>
    {% include 'Visitor/betes.html.twig' %}
    {% include 'Visitor/products.html.twig' %}
    {% include 'Visitor/contact.html.twig' %}
{% endblock %}
