<div class="img-fluid bgded" id="produits" style="background-image:url({{ asset('build/images/bg_produits.jpg') }});">
    <section id="testimonials" class="hoc container clear mb-5">
        <div class="center btmspace-50">
            <h2 class="heading headingWhite">Nos Produits</h2>
            <p class="text-red">Nous ne travaillons que sur commande</p>
        </div>
        <div class="one_half first mb-4">
            <div class="clear"><span><strong>Colis n°1</strong> / <em> 11,90 € le Kg</em><br>
                            <em> (entre 15 et 20 kg)</em></span>
                <blockquote class="mt-3">1/16 de la bête composée de : 1 côte de boeuf, steack,faux filet,2 rosbeefs, rumsteack, pot au feu, bourguignon, braisé</blockquote>
            </div>
        </div>
        <div class="one_half mb-4">
            <div class="clear"><span><strong>Colis n°2</strong> / <em>13,50 € le Kg</em><br>
                            <em>(10 kg sous vide)</em></span>
                <blockquote class="mt-3">Composée de : entrecôte, steack, faux filet, rumsteack, 2 rosbeefs, pot au feu, bourguignon, braisé</blockquote>
            </div>
        </div>
        <div class="one_half last">
            <div class="clear"><span><strong>Colis n°3</strong> / <em>15,00 € le Kg</em><br>
                            <em>(Caissette de viandes à griller de 5 ou 10 kg)</em></span>
                <blockquote class="mt-3">Composée de : entrecôtes, steack, rumsteack, faux filet, rosbeef, viande haché</blockquote>
            </div>
        </div>
    </section>
    <div class="center btmspace-15">
        <p class="text-products firstP"><strong>(Selon la saison, possibilité de saucisses de boeuf aux herbes, chipo, merguez,
                chair à saucisses)</strong></p>
        <p class="text-products"><strong>Nous ne sommes pas un magasin c'est pourquoi il faut un nombre de caissettes<br>
                minimum pour ensuite réserver le laboratoire qui nous delivrera la date de la reception des
                colis</strong></p>
    </div>
</div>