<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body id="top">

    <div class="img-fluid bgded" style="background-image:url({{ asset('build/images/presentation-ferme.jpg') }});">
        <div class="wrapper overlay">
            <header id="header" class="hoc clear">
                {% include 'header.html.twig' %}
            </header>
        </div>
        {% block intro %}{% endblock %}
    </div>
        {% block body %}{% endblock %}
    {% include 'Visitor/footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>