<nav id="mainav">
    <ul class="mr-auto">
        <li class="nav-item active">
            <a class="nav-link js-scrollTo" href="#betes">Nos Bêtes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scrollTo" href="#produits">Produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scrollTo" href="#contact">Contact</a>
        </li>
    </ul>
</nav>
<div id="logo">
    <h1><a href="#">La Ferme de Dam</a></h1>
</div>